$first-color-light: #f9f9f9;
$second-color-light: #14161f;
$border-color-light: rgba(0, 0, 0, 0.2);
$third-color-light: #ececec;
$table-header-light: #fff;

$first-color-dark: #14161f;
$second-color-dark: #f9f9f9;
$border-color-dark: rgba(255, 255, 255, 0.4);
$third-color-dark: #2b2d35;
$table-header-dark: #000;
